{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PS Trace 3D Graph</title>
    <link rel="stylesheet" href="{% static 'graph/css/normalize.css' %}">
    <script src="{% static 'graph/side-packages/threejs/three.min.js' %}"></script>
    <script src="{% static 'graph/side-packages/d3-dispatch/d3-dispatch.v1.min.js' %}"></script>
    <script src="{% static 'graph/side-packages/d3-timer/d3-timer.v1.min.js' %}"></script>
    <script src="{% static 'graph/side-packages/d3-quadtree/d3-quadtree.v1.min.js' %}"></script>
    <script src="{% static 'graph/side-packages/d3-binarytree/d3-binarytree.min.js' %}"></script>
    <script src="{% static 'graph/side-packages/d3-octree/d3-octree.min.js' %}"></script>
    <script src="{% static 'graph/side-packages/d3-force-3d/d3-force-3d.min.js' %}"></script>
    <script src="{% static 'graph/side-packages/3d-force-graph/dist/3d-force-graph.min.js' %}"></script>
    <script src="{% static 'graph/side-packages/jquery-3.4.1/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'graph/side-packages/moment-2.24.0/moment.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'graph/side-packages/datatables/datatables.min.css' %}"/>
    <script type="text/javascript" src="{% static 'graph/side-packages/datatables/datatables.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'graph/side-packages/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'graph/side-packages/simplebar-4.2.0/simplebar.css' %}">
    <script type="text/javascript" src="{% static 'graph/side-packages/simplebar-4.2.0/simplebar.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'graph/side-packages/chartjs-2.8.0/Chart.min.css' %}">
    <script type="text/javascript" src="{% static 'graph/side-packages/chartjs-2.8.0/Chart.min.js' %}"></script>
    {% block more_css %}
    {% endblock %}
</head>
<body>
<main>
    {% block content %}
    {% endblock %}
</main>
<script type="text/javascript" src="{% static 'graph/js/master.js' %}"></script>
</body>
<script src="{% static 'graph/side-packages/bootstrap-datetimepicker/js/bootstrap.min.js' %}"></script>
<script src="{% static 'graph/side-packages/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'graph/side-packages/bootstrap-datetimepicker/css/bootstrap.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'graph/side-packages/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}"/>
<link rel="stylesheet" href="{% static 'graph/css/master.css' %}">
<link rel="stylesheet" href="{% static 'graph/css/progress_bar.css' %}">
</html>